<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>About us</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-1.9.0.min.js"></script>
	<script src="js/common.js"></script>
</head>
<body>
<div class="wrapper">
	<div class="header">
		<div>
			<a href=" http://www.hkbu.edu.hk/eng/main/" target="_blank">
				<img src="./images/logo-blue_1.png" alt="" class="logo-img">
			</a>
			<a href=" https://www.cie.hkbu.edu.hk/main/en/" target="_blank">
				<img src="./images/logo-blue_2.png" alt="" class="logo-img">
			</a>
		</div>
		<div class="nav">
			<a href="./index.html" class="nav-item">Home</a>
			<div class="nav-item active">
				About Us
				<div class="dropdown-menu">
					<a href="./about.html" class="active">About SILVER</a>
					<a href="./about-qess.html">About QESS</a>
				</div>
			</div>
			<div class="nav-item">
				Courses
				<div class="dropdown-menu">
					<a href="./chemistry.html">Chemistry</a>
					<a href="./biology.html">Biology</a>
					<a href="./lab-safety.html">Lab Safety</a>
				</div>
			</div>
			<a href="./news.html" class="nav-item">News</a>
			<a href="./login.html" class="login">Login / Sign up</a>
		</div>
	</div>
	<div class="contant">
		<div class="aboutTop">
			<h2> About us</h2>
		</div>
		<div class="aboutcom w1200">
			<div class="aboutrow">
				<h3>About Us</h3>
				<em></em>
				<span>We do things a bit differently, and that's the way we like it!</span>
			</div>
			<div class="aboutlist">
				<div class="aboutimg">
					<img src="images/replace/about.png" width="490" alt="illustration">
				</div>
				<div class="abouttext">
					<div class="aboutli">
						<a href="#">
							<h4>Our Team</h4>
							<p>
								Partim orba seductaque. Porrexerat mutatas ita campos caelum viseretlocoque rudis. Homini
								tollere aer caeli acervo. Occiduo onus origo zonae iapeto inminet nulli elementaque. Deducite
								usu montibus igni tegit dixerecampoque quem nulli.
							</p>
						</a>
					</div>
					<div class="aboutli">
						<a href="#">
							<h4>Our Story </h4>
							<p>
								Mutastis semine! Forma tonitrua praecipites. Liberioris nix rapidisque matutinis unus undae os.
								Turba ambitae nitidis ultima. lle declivia orbe primaque phoebe opifex tegji pressa crescendo.
								Vultus onus ponderibusaere ambitae.
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="footer">
		<div class="footertop">
			<div class="w1200">
				<div class="footerLeft">
					<img src="images/logo.png" width="334" alt="logo">
					<p> Fasanenweg 7 Vellberg, 74541 Germany </p>
					<p> Phone: +49 7907 3594 398</p>
					<p> Fax: +49 7907 3594399</p>
					<p> info@vrlabacademy.com</p>
					<div class="follow">
						<a href="javascript:void(0)" title="facebook" target="_blank" class="iconfont active">&#xe71a;</a>
						<a href="javascript:void(0)" title="twitter" target="_blank" class="iconfont ">&#xe9b2;</a>
						<a href="javascript:void(0)" title="google" target="_blank" class="iconfont">&#xe645;</a>
					</div><!--follow-->
				</div>
				<div class="footerRight" style="margin-left: 160px;">
					<h2>Web column</h2>
					<div class="footerfg"></div>
					<ul class="footernav">
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="modules.html">Modules-Unit</a></li>
						<li><a href="news.html">News</a></li>
					</ul>
				</div>
				<div class="footerRight">
					<h2>Web column</h2>
					<div class="footerfg"></div>
					<ul class="footernav">
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="modules.html">Modules-Unit</a></li>
						<li><a href="news.html">News</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footerbot">All copyrights reserved © 2020</div>
	</div>
</div>


</body>
</html>
