<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Biology</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/chemistry.css">
</head>
<body>
<div class="wrapper">
	<div class="header">
		<div>
			<a href=" http://www.hkbu.edu.hk/eng/main/" target="_blank">
				<img src="./images/logo-blue_1.png" alt="" class="logo-img">
			</a>
			<a href=" https://www.cie.hkbu.edu.hk/main/en/" target="_blank">
				<img src="./images/logo-blue_2.png" alt="" class="logo-img">
			</a>
		</div>
		<div class="nav">
			<a href="./index.html" class="nav-item">Home</a>
			<div class="nav-item">
				About Us
				<div class="dropdown-menu">
					<a href="./about-silver.html">About SILVER</a>
					<a href="./about-qess.html">About QESS</a>
				</div>
			</div>
			<div class="nav-item active">
				Courses
				<div class="dropdown-menu">
					<a href="./chemistry.html">Chemistry</a>
					<a href="./biology.html" class="active">Biology</a>
					<a href="./lab-safety.html">Lab Safety</a>
				</div>
			</div>
			<a href="./news.html" class="nav-item">News</a>
			<a href="./login.html" class="login">Login / Sign up</a>
		</div>
	</div>
	<div class="banner">
		Biology
	</div>
	<div class="content">
		<div class="content-item">
			<div class="list-wrapper">
				<div class="list-title">Module 1: Fundamental Understanding of Elements</div>
				<div class="list">
					<a href="./biology-detail.html?id=1" class="item">
						<img src="./images/c1.png" alt="">
						<div class="name">Unit 1</div>
						<div class="desc">Matter, Elements, Atoms and Subatomic  Particles</div>
					</a>
					<a href="./biology-detail.html?id=1" class="item">
						<img src="./images/c2.png" alt="">
						<div class="name">Unit 2</div>
						<div class="desc">Periodic Table</div>
					</a>
					<a href="./biology-detail.html?id=1" class="item">
						<img src="./images/c3.png" alt="">
						<div class="name">Unit 3</div>
						<div class="desc">Physical and Chemical Properties</div>
					</a>
				</div>
			</div>
			<div class="list-wrapper">
				<div class="list-title">Module 2: Chemical Nature and Matters</div>
				<div class="list">
					<a href="./biology-detail.html?id=1" class="item">
						<img src="./images/c4.png" alt="">
						<div class="name">Unit 4</div>
						<div class="desc">lonic, Covalent and Metallic Bonds</div>
					</a>
					<a href="./biology-detail.html?id=1" class="item">
						<img src="./images/c5.png" alt="">
						<div class="name">Unit 5</div>
						<div class="desc">Redox Reactions</div>
					</a>
					<a href="./biology-detail.html?id=1" class="item">
						<img src="./images/c6.png" alt="">
						<div class="name">Unit 6</div>
						<div class="desc">Factors Affecting Chemical Reactions</div>
					</a>
				</div>
			</div>
		</div>
		<div class="content-item">
			<div class="list-wrapper">
				<div class="list-title">Challenge</div>
				<div class="list">
					<a href="./biology-detail.html?id=1" class="item">
						<img src="./images/c7.png" alt="">
						<div class="name">The Battle of Chemistry</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footertop">
			<div class="w1200 footer-wrapper">
				<div class="footerLeft">
					<p>College of International Education</p>
					<p>Website: http://www.cie.hkbu.edu.hk</p>
					<p>Email: XXX@hkbu.edu.hk</p>
					<p>Tel: (852) XXXX XXXx</p>
				</div>
				<div class="footer-right">
					<div class="item">
						<h2>About Us</h2>
						<div class="footerfg"></div>
						<ul class="footernav">
							<li><a href="about-silver.html">About SILVER</a></li>
							<li><a href="about-qess.html">About QESS</a></li>
						</ul>
					</div>
					<div class="item">
						<h2>Courses</h2>
						<div class="footerfg"></div>
						<ul class="footernav">
							<li><a href="chemistry.html">Chemistry</a></li>
							<li><a href="biology.html">Biology</a></li>
							<li><a href="lab-safety.html">Lab Safety</a></li>
						</ul>
					</div>
					<div class="item">
						<h2>Useful Links</h2>
						<div class="footerfg"></div>
						<ul class="footernav">
							<li><a href="http://www.hkbu.edu.hk/eng/main" target="_blank">HKBU</a></li>
							<li><a href="https://www.cie.hkbu.edu.hk/main/en/" target="_blank">HKBU CIE</a></li>
                            <li><a href="https://www.cie.hkbu.edu.hk/main/en/programmes/associate_degree_programme/as" target="_blank">Division of Applied Science</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footerbot">Copyright © 2021 College of International Education, HKBU. AII rights reserved.</div>
	</div>
</div>
<script src="js/jquery-1.9.0.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
