<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="keywords" content="香港网站">
	<meta name="description" content="香港网站">
	<title>LOGIN</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/aos.css">
	<script src="js/jquery-1.9.0.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/layer/layer.js"></script>
	<script src="js/common.js"></script>
</head>
<body>
<div class="wrapper">
	<div class="header">
		<div>
			<a href=" http://www.hkbu.edu.hk/eng/main/" target="_blank">
				<img src="./images/logo-blue_1.png" alt="" class="logo-img">
			</a>
			<a href=" https://www.cie.hkbu.edu.hk/main/en/" target="_blank">
				<img src="./images/logo-blue_2.png" alt="" class="logo-img">
			</a>
		</div>
		<div class="nav">
			<a href="./index.html" class="nav-item">Home</a>
			<div class="nav-item">
				About Us
				<div class="dropdown-menu">
					<a href="./about-silver.html">About SILVER</a>
					<a href="./about-qess.html">About QESS</a>
				</div>
			</div>
			<div class="nav-item">
				Courses
				<div class="dropdown-menu">
					<a href="./chemistry.html">Chemistry</a>
					<a href="./biology.html">Biology</a>
					<a href="./lab-safety.html">Lab Safety</a>
				</div>
			</div>
			<a href="./news.html" class="nav-item">News</a>
			<a href="./login.html" class="login">Login / Sign up</a>
		</div>
	</div>
	<div class="login">
		<img src="images/home-banner.png" id="logo" alt="logo" class="login-logo">
		<div class="loginBox">
			<div class="loginForm">
				<div class="title">
					<h2 class="Login">User</h2>
					<h2 class="Guest">User</h2>
				</div>
				<div class="Button">
					<div id="user" class="buttonicon active">Login</div>
					<div id="guest" class="buttonicon ">Register</div>
				</div>
				<div class="form">
					<div class="formLogin">
						<div class="row">
							<label for="loginEmail">Email:</label>
							<input type="text" name="loginEmail" id="loginEmail">
						</div>
						<div class="row">
							<label for="password">Password:</label>
							<input type="password" name="password" id="password">
						</div>
						<div class="loginBut">
							<input type="button" value="Login" class="button_block" onclick="createForm()">
							<a href="javascript:void(0)">Forget Password</a>
							<input type="button" value="Login As Guest" class="button_block" onclick="createForm()">
						</div>
					</div>
					<div class="formGuest">
						<div class="row">
							<label for="email">Email:<span class="required">*</span></label>
							<input type="text" name="email" id="email">
						</div>
						<div class="row">
							<label for="name">User Name:<span class="required">*</span></label>
							<input type="text" name="name" id="name">
						</div>
						<div class="row">
							<label for="passwords">Password:<span class="required">*</span></label>
							<input type="password" name="passwords" id="passwords">
						</div>
						<div class="row">
							<label for="confirm">Confirm Password:<span class="required">*</span></label>
							<input type="password" name="confirm" id="confirm">
						</div>
						<div class="row">
							<label for="programme">Concentration Studies:<span class="required">*</span></label>
							<select class="weui-select" name="select1" id="programme">
								<option value="0">Please Select</option>
								<option value="1">Text</option>
								<option value="2">Text</option>
								<option value="3">Text</option>
								<option value="2">Text</option>
								<option value="3">Text</option>
								<option value="2">Text</option>
							</select>
						</div>
						<div class="row">
							<label for="year">Year of Entry:<span class="required">*</span></label>
							<select class="weui-select" name="select1" id="year">
								<option value="0">Please Select</option>
								<option value="1">1990</option>
								<option value="2">1991</option>
								<option value="3">1992</option>
								<option value="2">1993</option>
								<option value="3">1994</option>
								<option value="2">1995</option>
							</select>

						</div>
						<div class="loginBut">
							<input type="button" value="Next" class="button_block" onclick="createForms()">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footertop">
			<div class="w1200 footer-wrapper">
				<div class="footerLeft">
					<p>College of International Education</p>
					<p>Website: http://www.cie.hkbu.edu.hk</p>
					<p>Email: XXX@hkbu.edu.hk</p>
					<p>Tel: (852) XXXX XXXx</p>
				</div>
				<div class="footer-right">
					<div class="item">
						<h2>About Us</h2>
						<div class="footerfg"></div>
						<ul class="footernav">
							<li><a href="about-silver.html">About SILVER</a></li>
							<li><a href="about-qess.html">About QESS</a></li>
						</ul>
					</div>
					<div class="item">
						<h2>Courses</h2>
						<div class="footerfg"></div>
						<ul class="footernav">
							<li><a href="chemistry.html">Chemistry</a></li>
							<li><a href="biology.html">Biology</a></li>
							<li><a href="lab-safety.html">Lab Safety</a></li>
						</ul>
					</div>
					<div class="item">
						<h2>Useful Links</h2>
						<div class="footerfg"></div>
						<ul class="footernav">
							<li><a href="http://www.hkbu.edu.hk/eng/main" target="_blank">HKBU</a></li>
							<li><a href="https://www.cie.hkbu.edu.hk/main/en/" target="_blank">HKBU CIE</a></li>
                            <li><a href="https://www.cie.hkbu.edu.hk/main/en/programmes/associate_degree_programme/as" target="_blank">Division of Applied Science</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footerbot">Copyright © 2021 College of International Education, HKBU. AII rights reserved.</div>
	</div>
</div>
<script>
$(function () {
	$('#user').click(function () {
		$(this).addClass('active')
		$('#guest').removeClass('active')
		$('#logo').removeClass("logog").addClass('logo')
		$('.formLogin').css('display', 'block')
		$('.formGuest').css('display', 'none')
		$('.Login').css('display', 'block')
		$('.Guest').css('display', 'none')
	})
	$('#guest').click(function () {
		$(this).addClass('active')
		$('#user').removeClass('active')
		$('#logo').removeClass("logo").addClass('logog')
		$('.formLogin').css('display', 'none')
		$('.formGuest').css('display', 'block')
		$('.Login').css('display', 'none')
		$('.Guest').css('display', 'block')
	})
})
</script>
<script>
function createForm() {
	if (checkForm()) {
		window.location.href = 'index.html'
	}
}

function checkForm() {
	var username = $("#loginEmail").val()
	if ($.trim(username) == '') {
		layer.tips("Please enter loginEmail !", "#loginEmail", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#loginEmail').focus()
		return false
	} else if (!~username.indexOf('@life.hkbu.edu.hk') || !~username.indexOf('@life.hkbu.edu.hk')) {
		console.log('a')
		layer.tips("Please include “@life.hkbu.edu.hk” or “@hkbu.edu.hk”.", '#loginEmail', {
			tips: [1, '#0077ea'],
			time: 1000000
		})
		$('#loginEmail').focus()
		return false
	}
	var password = $("#password").val()
	if ($.trim(password) == '') {
		layer.tips("Please enter password !", "#password", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#password').focus()
		return false
	}
	if ($('#password').val().length < 6 || $('#password').val().length > 16) {
		$('#password').focus()
		layer.tips("Password no less than 6 digits", "#password", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#password').focus()
		return false
	}
	return true
}
</script>
<script>
function createForms() {
	if (checkForms()) {
		window.location.href = 'question.html'
	}
}

function checkForms() {
	var reg = /\w+[@]{1}\w+[.]\w+/
	var email = $("#email").val()
	if ($.trim(email) == '') {
		layer.tips("Please enter email !", "#email", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#email').focus()
		return false
	}
	if ((!reg.test($.trim(email)))) {
		layer.tips("Wrong email input !", "#email", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#email').focus()
		return false
	}
	var passwords = $("#passwords").val()
	if ($.trim(passwords) == '') {
		layer.tips("Please enter passwords !", "#passwords", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#passwords').focus()
		return false
	}
	if ($('#passwords').val().length < 6 || $('#passwords').val().length > 16) {
		$('#passwords').focus()
		layer.tips("Password no less than 6 digits", "#passwords", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#passwords').focus()
		return false
	}
	var name = $("#name").val()
	if ($.trim(name) == '') {
		layer.tips("Please enter name !", "#name", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#name').focus()
		return false
	}
	var confirm = $("#confirm").val()
	if ($.trim(confirm) == '') {
		layer.tips("Password confirm password", "#confirm", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#confirm').focus()
		return false
	}

	if ($('#confirm').val() != $('#passwords').val()) {
		layer.tips("Password inconsistency", "#confirm", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#confirm').focus()
		return false
	}
	var programme = $('#programme option:selected').val()
	if ($.trim(programme) == '0') {
		layer.tips("Password confirm studying programme", "#programme", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#programme').focus()
		return false
	}
	var year = $('#year option:selected').val()
	if ($.trim(year) == '0') {
		layer.tips("Password confirm year of entrye", "#year", {
			tips: [1, '#0077ea'],
			time: 2000
		})
		$('#year').focus()
		return false
	}

	return true
}
</script>
</body>
</html>
