/*about us*/
.aboutTop {
  width: 100%;
  height: 300px;
  background: -moz-linear-gradient(top, #003D6A 0%, #002946 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003D6A), color-stop(100%, #002946));
  background: -webkit-linear-gradient(top, #003D6A 0%, #002946 100%);
  background: -o-linear-gradient(top, #003D6A 0%, #002946 100%);
  background: -ms-linear-gradient(top, #003D6A 0%, #002946 100%);
  background: linear-gradient(to bottom, #003D6A 0%, #002946 100%);
  text-align: center;
  line-height: 300px;
}
.content {
  background: #F8F8FA;
}
.aboutTop h2 {
  font-size: 38px;
  color: #fff;
  line-height: 300px;
  display: block;
  font-weight: bold;
}
.about-details {
  padding: 43px 58px;
  font-size: 19px;
  line-height: 1.5;
  color: #000000;
  font-family: ArialMT;
}
.aboutcom {
  position: relative;
  top: -34px;
  background: #fff;
}
.aboutrow {
  display: block;
  margin-top: 44px;
  text-align: center;
}
.aboutrow h3 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  padding-bottom: 16px;
}
.aboutrow em {
  display: block;
  width: 60px;
  height: 2px;
  background: #00478E;
  margin: 0 auto;
}
.aboutrow span {
  font-size: 16px;
  color: #999;
  padding-top: 16px;
  display: block;
}
.aboutlist {
  margin: 0 44px;
  padding-bottom: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.abouttext {
  width: 579px;
}
.abouttext .aboutli {
  margin-top: 30px;
  overflow: hidden;
}
.abouttext .aboutli a {
  display: block;
}
.abouttext .aboutli a h4 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
}
.abouttext .aboutli a p {
  font-size: 14px;
  color: #999;
  line-height: 24px;
}
.aboutli a:hover h4 {
  color: #135596;
  transition: 0.5s;
  -moz-transition: 0.5s;
  /* Firefox 4 */
  -webkit-transition: 0.5s;
  /* Safari and Chrome */
  -o-transition: 0.5s;
  /* Opera */
}
